@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Roboto', sans-serif;
  background: #333;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav li {
  margin: 0 10px;
  margin-right: 30px;
  margin-left: 30px;
}

nav a {
  color: #fc15fc;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  position: relative;
  transition: color 0.3s;
}

nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #fc15fc;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

nav a:hover {
  color: #00ffff;
}

nav a:hover::before {
  transform: scaleX(1);
}

.block {
  background: #121212;
  width: 900px;
  height: 250px;
  margin-top: 100px;
  border-radius: 70px;
  margin-left: 470px;
  color: #00ffff;
}

.block h3 {
  margin-left: 50px;
}
.block h2 {
    margin-left: 50px;
  }

.block1 {
  background: #121212;
  width: 900px;
  height: 250px;
  margin-top: 100px;
  border-radius: 70px;
  margin-left: 470px;
  color: #00ffff;
}



.percentage-bar {
  display: inline-block;
  height: 8px;
  background-color: #0ff;
  position: relative;
  overflow: hidden;
}

.percentage-bar::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0ff;
  animation: fill-progress 2s ease-in-out forwards;
}

@keyframes fill-progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
